html
  overflow-x: hidden
body
  color: #424242
  font-family: 'Montserrat', sans-serif
  font-size: 20px
  font-weight: 500
  overflow-x: hidden

.container
  max-width: 1200px
  padding: 0 10px
  margin: 0 auto


.q-tab__label
  text-transform: initial
.q-btn__content
  & .block
    text-transform: initial
.text-weight-semi-bold
  font-weight: 600
.font-size-25
  font-size: 25px
.font-size-20
  font-size: 20px
.font-size-18
  font-size: 18px
.font-size-16
  font-size: 16px
.font-size-14
  font-size: 14px
.font-size-12
  font-size: 12px
.font-size-10
  font-size: 10px

.text-no-decoration
  text-decoration: none

//text-h4
@media (max-width: 599px)
  .text-h4
    font-size: 24px
  .font-size-12
    font-size: 11px
  .font-size-18
    font-size: 11px



.promo1
  position: relative
  background: url(../assets/promo-1-bg.webp) no-repeat center
  height: 393px
  margin-bottom: 100px
  padding-top: 130px

  &__img1
    position: absolute
    right: 174px
    bottom: 21px
    z-index: 2
  &__img2
    position: absolute
    right: 0
    bottom: 0
    z-index: 1
  h3
    position: relative
    max-width: 700px
    line-height: 53px
    &::before
      position: absolute
      content: url(../assets/promo-1-gift.webp)
      right: 20px
      bottom: -25px
    &::after
      position: absolute
      content: url(../assets/promo-1-arrow.webp)
      right: -115px
      top: -35px

@media (max-width: 599px)
  .promo1
    padding-top: 45px
    margin-bottom: 30px
    h3
      font-size: 19px !important
      line-height: 25px
      max-width: 275px
      &::before
        position: absolute
        content: url(../assets/promo-1-gift-m.webp)
        right: 20px
        bottom: -15px
      &::after
        position: absolute
        content: url(../assets/promo-1-arrow-m.webp)
        right: 0px
        top: 90px
    &__img1
      position: absolute
      width: 180px
      height: 214px
      object-fit: contain
      right: 76px
      bottom: 13px
      z-index: 2
    &__img2
      position: absolute
      width: 230px
      height: 181px
      object-fit: contain
      right: -41px
      bottom: 10px
      z-index: -1

.promo2
  position: relative
  background: url(../assets/promo-2-bg.webp) no-repeat center
  height: 488px
  margin-bottom: 170px
  padding-top: 150px
  &__img1
    position: absolute
    right: 0px
    bottom: -80px
    z-index: 2
  &__img2
    position: absolute
    right: 33%
    top: 50%
    transform: translateY(-50%)
    z-index: 1
  h3
    position: relative
    max-width: 555px
    line-height: 53px
    color: white
    &::after
      position: absolute
      content: url(../assets/promo-1-arrow.webp)
      right: -90px
      top: 45px


@media (max-width: 599px)
  .promo2
    padding-top: 45px
    height: 378px
    margin-bottom: 80px
    h3
      font-size: 19px !important
      line-height: 25px
      max-width: unset
      &::after
        position: absolute
        content: url(../assets/promo-1-arrow-m.webp)
        right: 82px
        top: 61px
    &__img1
      position: absolute
      right: -24px
      bottom: -56px
      z-index: 2
      width: 286px
      height: 222px
      object-fit: contain
    &__img2
      position: absolute
      width: 82px
      height: 89px
      object-fit: contain
      right: 33%
      top: 50%
      transform: translateY(-70%)
      z-index: 1


.cart-item
  width: 1000px
.itemCard
  padding: 20px 40px 75px 60px
@media (max-width: 599px)
  .itemCard
    padding: 0

    & .font-size-20
      font-size: 12px
      margin-bottom: 0
    & .font-size-16
      font-size: 10px
    & .font-size-18
      font-size: 12px
      span
        font-size: 14px
        font-weight: 700
@media (max-width: 599px)
  .swiper-slide
    text-align: center
  .cart-item
    & .q-img
      height: 60px
    &__info
      position: relative
      flex-direction: column
      justify-content: center
      & .col-xs-12
        font-size: 12px
        line-height: 14px
        font-weight: 600
        justify-content: flex-start
        text-align: left
        margin-left: 10px
        padding: 0
        margin-bottom: 6px
        &:last-child
          margin-bottom: 0
    &__delete
      position: absolute
      right: 20px
      top: 50%
      transform: translateY(-50%)

.quiz-grid
  display: grid
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr))
  grid-gap: 20px
.quiz-item
  &__img
    box-shadow: 0px 1px 23px rgba(0, 0, 0, 0.1)
    border-radius: 7px
    text-align: center
    margin-bottom: 20px
    width: 240px
    height: 155px
    background-size: cover !important
    background-repeat: no-repeat !important
    background-position: center !important
    img
      object-fit: cover
    &.itemSelected
      box-shadow: 0px 1px 23px rgba(93, 154, 230, 0.25)

@media (max-width: 599px)
  .callbackModal
    & .title_text
      font-size: 14px
      padding-top: 8px
    & .inner_text
      font-size: 10px
      line-height: 12px
  .quizModal
    & .font-size-25
      font-size: 10px
      line-height: 12px
    & .font-size-20
      font-size: 12px
      text-align: center
      line-height: 14px
  .quiz
    &-step
      font-size: 12px
    &-grid
      margin-bottom: 30px
    &-item
      display: grid
      grid-template-columns: 1fr 1fr
      &__img
        width: 110px
        height: 65px
      &__bottom
        & .font-size-16
          font-size: 9px


.footer
  background: #F6F9FF
  padding: 50px 0
.feedbacks-slider
  padding: 30px 0
  & .swiper-slide
    transition: all .2s linear
  & .swiper-slide-active
    transition: all .2s linear
    transform: scale(1.1)

.offer
  padding-top: 100px
  position: relative
  height: 720px
  background-position: right !important
  background-repeat: no-repeat !important
  h1
    max-width: 685px
    line-height: 54px
  &-buttons
    margin-bottom: 50px
  &-bottom
    bottom: -30px
    position: absolute
    padding: 40px 85px
    left: 10%
    right: 10%
    background: #FFFFFF
    border: 2px solid rgba(93, 154, 230, 0.28)
    box-sizing: border-box
    border-radius: 6px
    display: flex
    align-items: center
    justify-content: space-between
    &__item
      display: flex
      align-items: center
      justify-content: left
      flex-basis: 285px
      svg
        margin-right: 15px
      p
        font-weight: 600
        font-size: 22px
        line-height: 22px


.timer-item
  position: relative
  min-width: 90px
  &::after
    position: absolute
    content: ':'
    top: 0
    right: -5px
    color: $primary
    font-size: 30px
    font-weight: bold
  &:first-child
    min-width: unset
    &::after
      right: -13px
  &:last-child
    &::after
      content: none


@media (max-width: 599px)
  .offer
    height: 605px
    padding-top: 70px
    background-position: bottom !important
    background-size: cover !important
    h1
      line-height: 23px
      text-align: center
    & .font-size-12
      margin: 0 auto
    &-buttons
      margin: 0
      button
        margin: 0
        width: 100%
        &:first-child
          margin-bottom: 10px
    &-timer
      margin: 0 auto 130px
    & .timer-item
      min-width: 70px
      & .text-h3
        font-size: 30px
      &:first-child
        &::after
          right: -5px
    &-bottom

      padding: 20px 10px
      left: 10px
      right: 10px
      bottom: -120px
      display: grid
      grid-template-columns: 1fr 1fr
      &__item
        svg
          width: 28px
          margin-right: 10px
        p
          font-size: 10px
          line-height: 10px
          max-width: 90px

  .postel-bg
    background-size: contain !important

.why-we
  height: 710px
  margin-top: -40px
  background: url("../assets/curved_bg.webp")
  padding-top: 110px
  margin-bottom: 60px
  &__subtitle
    max-width: 500px
    margin: 0 auto 50px
    line-height: 25px
  &__wrapper
    height: 50%
    position: relative
  //&__left
  &__center
    position: absolute
    background-position: center !important
    background-repeat: no-repeat !important
  //&__right
  &__item
    position: relative
    padding-left: 30px
    &-title
      position: relative
      line-height: 100%
      max-width: 305px
      &::before
        position: absolute
        content: url("../assets/bullet.webp")
        top: -7px
        left: -43px
    &-subtitle
      line-height: 100%
      max-width: 330px
    &.item-first
      &::before
        position: absolute
        content: url("../assets/why_we/a1.png")
        right: -100px
        bottom: 0
    &.item-second
      &::before
        position: absolute
        content: url("../assets/why_we/a2.png")
        right: 0
        bottom: -25px
    &.item-third
      &::before
        position: absolute
        content: url("../assets/why_we/a3.png")
        left: -110px
    &.item-fourth
      &::before
        position: absolute
        content: url("../assets/why_we/a4.png")
        left: 0
        bottom: -50px

.why-we-postel-bg
  height: 420px
  width: 530px

  left: 50%
  transform: translateX(-50%)

  background-repeat: no-repeat !important
  background-size: contain !important
@media (max-width: 599px)
  .why-we
    background: url("../assets/curved_bg-m.webp")
    padding-top: 180px
    background-size: cover
    height: 870px
    &__subtitle
      font-size: 12px
      line-height: 12px
      margin-bottom: 290px
    &__left
      justify-content: flex-start

    &__right
      justify-content: flex-start
      margin-top: -100px
    &__item
      padding-left: 50px
      &-title
        font-size: 12px
      &-subtitle
        font-size: 10px
      &.item-first
        &::after
          position: absolute
          top: -90px
          content: url("../assets/why_we/a1-m.png")
        &::before
          content: none
      &.item-second
        &::before
          content: none
      &.item-third
        &::before
          content: none
      &.item-fourth
        &::before
          content: none
  .why-we-postel-bg
    top: -110%
    width: 80%


.features
  margin-bottom: 100px
  h3
    max-width: 915px
    margin: 0 auto 45px
    line-height: 54px
  &-header
    border: 2px solid rgba(93, 154, 230, 0.28)
    box-sizing: border-box
    border-radius: 105px
  &-grid
    height: 250px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 60px


@media (max-width: 599px)
  .features
    margin-bottom: 25px
    &-header
      font-size: 12px
      font-weight: 600
    &-text
      font-size: 12px
      line-height: 13px
    h3
      line-height: 19px
    &-grid
      height: fit-content
      grid-template-columns: 1fr
      grid-gap: 15px
.catalog
  margin-bottom: 50px
  h3
    margin-bottom: 50px
  &-card
    max-width: 360px
  &-grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 10px
    margin-bottom: 90px
//grid-column-gap: 30px
//grid-row-gap: 50px

@media (max-width: 599px)
  .catalog
    h3
      margin-bottom: 25px
    &-card
      max-width: unset
      & .q-card__section
        padding: 0 8px
      & .q-card__actions
        padding: 0 8px
      & .text-h6
        font-size: 12px
        font-weight: 700
      & .font-size-18
        font-size: 10px
      & .font-size-16
        font-size: 10px
        margin-bottom: 5px
      & .q-px-lg
        padding: 0
      & button
        width: 100%
        margin-left: 0 !important
        margin-bottom: 5px
      &__price
        font-size: 14px !important

    &-grid
      grid-template-columns: 1fr
.quiz
  background: url("../assets/quiz-bg.webp") no-repeat center
  height: 750px
  padding-top: 120px
  margin-bottom: 90px
  &-subtitle
    position: relative
    max-width: 810px
    margin: 0 auto 120px
    text-align: center
    line-height: 35px
    &::before
      position: absolute
      content: url("../assets/gift.webp")
      right: 85px
      bottom: -8px
    &::after
      position: absolute
      content: url("../assets/quiz-arrow.webp")
      right: 135px
      bottom: -100px

@media (max-width: 599px)
  .quiz
    background: url("../assets/quiz-bg-m.webp") no-repeat center

    background-size: cover
    height: 535px
    padding-top: 65px
    padding-left: 15px
    padding-right: 15px
    &-subtitle
      font-size: 14px
      line-height: 20px
      max-width: 300px
      margin-bottom: 10px
      &::before
        content: url("../assets/gift-m.webp")
        right: 47px
        bottom: -3px
      &::after
        content: url("../assets/quiz-arrow-m.webp")
        right: 24px


.warning
  margin-bottom: 90px
@media (max-width: 599px)
  .warning
    img
      width: 175px
      height: 175px
      margin-bottom: 30px
    &-text
      width: 100%
      text-align: center
    & .font-size-25
      font-size: 12px
      line-height: 17px

.timer
  margin-bottom: 90px
  & .timer-item
    &::after
      color: white
@media (max-width: 599px)
  .timer
    margin-bottom: 45px
    padding-top: 20px
    padding-bottom: 30px


.feedbacks
  h3
    margin-bottom: 70px

@media (max-width: 599px)
  .feedbacks
    h3
      margin-bottom: 35px
      text-align: center
.certs
  background-image: url("../assets/cert-bg.webp")
  height: 750px
  padding-top: 45px
  margin-bottom: 90px
  h3
    max-width: 880px
    line-height: 54px
  &-grid
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr))
    grid-gap: 25px
@media (max-width: 599px)
  .certs
    margin-bottom: 45px
    background-image: url("../assets/cert-bg-m.webp")
    height: 375px
    h3
      font-size: 14px
      line-height: 19px
      text-align: center

.faq
  margin-bottom: 90px

@media (max-width: 599px)
  .faq
    margin-bottom: 45px
    & .q-item__label
      font-size: 12px
    & .q-card__section--vert
      font-size: 10px
      line-height: 12px
.callback
  background-image: url("../assets/cb-form.webp")
  height: 750px
  margin-bottom: 90px
  padding-top: 135px
  h3
    max-width: 880px
    line-height: 54px
  &-subtitle
    font-size: 25px
    line-height: 35px
    max-width: 760px
    margin-bottom: 70px
  &-form
    max-width: 560px
@media (max-width: 599px)
  .callback
    padding-top: 25px
    background-image: url("../assets/cb-form-m.webp")
    height: 485px
    h3
      font-size: 14px
      line-height: 19px
      font-weight: 700
    &-subtitle
      position: relative
      font-size: 10px
      line-height: 14px
      max-width: 180px
      &::after
        position: absolute
        content: url("../assets/callback-m.webp")
        bottom: -81px
        right: -147px
        z-index: 0

.map
  background: url("../assets/map-bg.webp") no-repeat center
  background-size: cover !important
  position: relative
  height: 670px
  &-inner
    top: 150px
    left: 20%
    position: absolute
    background: #FFFFFF
    border-radius: 3px
    padding: 30px 50px


@media (max-width: 599px)
  .map
    height: 400px
    &-inner
      top: 40px
      left: 20px
      right: 20px
      h3
        font-size: 14px
        text-align: center
        margin-bottom: 15px
      & .font-size-25
        font-size: 12px
      & .q-gutter-md
        text-align: center



